In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

import pandas as pd

spark = SparkSession.builder.master("local[*]").appName("Capstone").getOrCreate()

Python and PySpark SQL program to read/extract the following JSON files according to the specifications

In [22]:
# Load the JSON file into a PySpark SQL dataframe
credit_cards = spark.read.json("json_files\cdw_sapp_custmer.json")

# Add "678" at the beginning of the phone number
new_phone_number = concat(lit("678"), col("CUST_PHONE"))

# Format the phone number into (XXX)XXX-XXXX format
formatted_phone_number = concat(lit("("), substring(new_phone_number, 1, 3), lit(")"),
                        substring(new_phone_number, 4, 3), lit("-"),
                        substring(new_phone_number, 7, 4))

#adds the new number to credit_cards
credit_cards = credit_cards.withColumn("FORMATTED_PHONE_NUMBER", formatted_phone_number)

# Select the required fields from the dataframe and transform data
CDW_SAPP_CUSTOMER = credit_cards.select("SSN",
                                        initcap("FIRST_NAME").alias("FIRST_NAME"),
                                        lower("MIDDLE_NAME").alias("MIDDLE_NAME"),
                                        initcap("LAST_NAME").alias("LAST_NAME"), 
                                        "Credit_card_no",
                                        concat( "APT_NO", lit(", "), "STREET_NAME").alias("ADDRESS"),
                                        "CUST_CITY", "CUST_STATE", "CUST_COUNTRY", "CUST_ZIP",
                                        "CUST_EMAIL","FORMATTED_PHONE_NUMBER", "LAST_UPDATED")

CDW_SAPP_CUSTOMER.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+--------------------+----------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_card_no|             ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|          CUST_EMAIL|FORMATTED_PHONE_NUMBER|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+--------------------+----------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656, Main Street ...|     Natchez|        MS|United States|   39120| AHooper@example.com|         (678)123-7818|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829, Redwood Drive|Wethersfield|        CT|United States|   06109| EHolman@example.com|         (678)123-8933|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683, 12th Street ...|     Huntley|        IL|United States|   60142| WDunham@example.com|         (678)124-3018|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253, Country Club...|   NewBerlin|        WI|United States|   53151|  EHardy@example.com|         (678)124-3215|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301, Madison Street|      ElPaso|        TX|United States|   79930|  WAyers@example.com|         (678)124-2074|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3, Colonial Drive|NorthOlmsted|        OH|United States|   44070|BWoodard@example.com|         (678)124-2570|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84, Belmont Avenue|      Vienna|        VA|United States|   22180|   SKemp@example.com|         (678)123-9685|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728, Oxford Court|      Duarte|        CA|United States|   91010| WHurley@example.com|         (678)123-8213|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81, Forest Street|      Owosso|        MI|United States|   48867|AGilmore@example.com|         (678)124-0689|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561, Court Street|        Zion|        IL|United States|   60099|    BLau@example.com|         (678)123-5222|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622, Cypress Court|  Youngstown|        OH|United States|   44512|EThomson@example.com|         (678)124-1363|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924, 8th Street West| Summerville|        SC|United States|   29483| ETruong@example.com|         (678)123-6228|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611, East Avenue|      ElPaso|        TX|United States|   79930|HMckinney@example...|         (678)123-8165|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680, Route 44|      Fenton|        MI|United States|   48430|   RKidd@example.com|         (678)123-4730|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71, Warren Street|  Grandville|        MI|United States|   49418|ABallard@example.com|         (678)124-2113|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195, Jones Street|    YubaCity|        CA|United States|   95993| PThomas@example.com|         (678)123-9888|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500, New Street|   CapeCoral|        FL|United States|   33904| JMorrow@example.com|         (678)124-0158|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989, Division Street|  Brookfield|        WI|United States|   53045|NAndrews@example.com|         (678)124-1408|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810, Maple Street|    Richmond|        VA|United States|   23223|MSchneider@exampl...|         (678)123-8390|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649, Eagle Road| WestChester|        PA|United States|   19380|PTidwell@example.com|         (678)123-5067|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+--------------------+----------------------+--------------------+
only showing top 20 rows