In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

import pandas as pd

spark = SparkSession.builder.master("local[*]").appName("Capstone").getOrCreate()

CDW_SAPP_CUSTMER.JSON extracted and transformed

In [22]:
# Load the JSON file into a PySpark SQL dataframe
credit_cards_df = spark.read.json("json_files\cdw_sapp_custmer.json")

# Add "678" at the beginning of the phone number
new_phone_number = concat(lit("678"), col("CUST_PHONE"))

# Format the phone number into (XXX)XXX-XXXX format
formatted_phone_number = concat(lit("("), substring(new_phone_number, 1, 3), lit(")"),
                        substring(new_phone_number, 4, 3), lit("-"),
                        substring(new_phone_number, 7, 4))

#adds the new number to credit_cards
credit_cards_df = credit_cards_df.withColumn("FORMATTED_PHONE_NUMBER", formatted_phone_number)

# Select the required fields from the dataframe and transform data
CDW_SAPP_CUSTOMER = credit_cards_df.select("SSN",
                                        initcap("FIRST_NAME").alias("FIRST_NAME"),
                                        lower("MIDDLE_NAME").alias("MIDDLE_NAME"),
                                        initcap("LAST_NAME").alias("LAST_NAME"), 
                                        "Credit_card_no",
                                        concat( "APT_NO", lit(", "), "STREET_NAME").alias("ADDRESS"),
                                        "CUST_CITY", "CUST_STATE", "CUST_COUNTRY", "CUST_ZIP",
                                        "CUST_EMAIL","FORMATTED_PHONE_NUMBER", "LAST_UPDATED")

CDW_SAPP_CUSTOMER.show(1)

+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------------+----------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_card_no|             ADDRESS|CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|         CUST_EMAIL|FORMATTED_PHONE_NUMBER|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------------+----------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656, Main Street ...|  Natchez|        MS|United States|   39120|AHooper@example.com|         (678)123-7818|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+---------+----------+-------------+--------+-------------------+----------------------+--------------------+
only showing top 1 row

CDW_SAPP_CREDIT.JSON extracted and transformed

In [20]:
# Load the JSON file into a PySpark SQL dataframe
credit_cards_df2 = spark.read.json("json_files\cdw_sapp_credit.json")

# Convert DAY, MONTH, YEAR to TIMEID in YYYYMMDD format
timeid = concat(col("YEAR"), lpad(col("MONTH"), 2, "0"), lpad(col("DAY"), 2, "0"))
credit_cards_df2 = credit_cards_df2.withColumn("TIMEID", timeid)

# Select the required fields from the dataframe and transform data
CDW_SAPP_CREDIT = credit_cards_df2.select("CREDIT_CARD_NO", "TIMEID", "CUST_SSN", "BRANCH_CODE",
                                          "TRANSACTION_TYPE", "TRANSACTION_VALUE", "TRANSACTION_ID")

CDW_SAPP_CREDIT.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

CDW_SAPP_BRANCH.JSON extracted and transformed

In [23]:
# Load the JSON file into a PySpark SQL dataframe
credit_cards_df3 = spark.read.json("json_files\cdw_sapp_branch.json")

# Add "678" at the beginning of the phone number
new_phone_number2 = col("BRANCH_PHONE")

# Format the phone number into (XXX)XXX-XXXX format
formatted_phone_number2 = concat(lit("("), substring(new_phone_number2, 1, 3), lit(")"),
                        substring(new_phone_number2, 4, 3), lit("-"),
                        substring(new_phone_number2, 7, 4))

#adds the new number to credit_cards
credit_cards_df3 = credit_cards_df3.withColumn("BRANCH_PHONE", formatted_phone_number2)

# Add a new column 'BRANCH_ZIP_NEW' based on the value of 'BRANCH_ZIP'
credit_cards_df3 = credit_cards_df3.withColumn(
    "BRANCH_ZIP_NEW",
    when(col("BRANCH_ZIP").isNull(), "00000").otherwise(col("BRANCH_ZIP"))
)

# Select the required fields from the dataframe and transform data
CDW_SAPP_BRANCH = credit_cards_df3.select("BRANCH_CODE","BRANCH_NAME","BRANCH_STREET",
                                          "BRANCH_CITY","BRANCH_STATE","BRANCH_ZIP_NEW",
                                          "BRANCH_PHONE","LAST_UPDATED")

CDW_SAPP_BRANCH.show()

+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP_NEW| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|         55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|          Huntley|          IL|         60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|         11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|         32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|         19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|          7501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|        Pittsford|          NY|         14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|          6109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|         44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|          8844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|         48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|         32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|         17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|         11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|         42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|     Harleysville|          PA|         19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|     SilverSpring|          MD|         20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|         55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|         98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|         Carlisle|          PA|         17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
only showing top 20 rows

load CDW_SAPP_CUSTOMER into the creditcard_capstone MariaDB database

In [27]:
CDW_SAPP_CUSTOMER.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                user="root",\
                                password="password",\
                                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                                dbtable="creditcard_capstone.CDW_SAPP_CUSTOMER").save()

AnalysisException: Table or view 'creditcard_capstone.CDW_SAPP_CUSTOMER' already exists. SaveMode: ErrorIfExists.

load CDW_SAPP_BRANCH into the creditcard_capstone MariaDB database

In [25]:
CDW_SAPP_BRANCH.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                user="root",\
                                password="password",\
                                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                                dbtable="creditcard_capstone.CDW_SAPP_BRANCH").save()

+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP_NEW| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|         55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|          Huntley|          IL|         60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|         11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|         32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|         19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|          7501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|        Pittsford|          NY|         14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|          6109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|         44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|          8844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|         48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|         32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|         17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|         11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|         42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|     Harleysville|          PA|         19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|     SilverSpring|          MD|         20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|         55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|         98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|         Carlisle|          PA|         17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-----------------+------------+--------------+-------------+--------------------+
only showing top 20 rows

load CDW_SAPP_CREDIT into the creditcard_capstone MariaDB database

In [26]:
CDW_SAPP_CREDIT.write.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                user="root",\
                                password="password",\
                                url="jdbc:mysql://localhost:3306/creditcard_capstone",\
                                dbtable="creditcard_capstone.CDW_SAPP_CREDIT").save()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows